 @keyframes marqueeScroll {
                0% { transform: translateX(0%); }
                100% { transform: translateX(-50%); }
            }

            .marquee-inner {
                animation: marqueeScroll 25s linear infinite;
            }

            .marquee-reverse {
                animation-direction: reverse;
            }

            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
        * { font-family: 'Poppins', sans-serif; }
       .box {
  animation: slideIn 2s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.heading {
  transform: scaleX(1);
}

.heading.animate {
  animation: stretch 2s ease-in-out forwards;
}

@keyframes stretch {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(1);
  }
}
